{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'static/styles.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    

    
</head>
<body>
   
    <nav class="navbar">
        <div>
            <a href="/" style="margin-left: 380px;" >Home</a>
        </div>
        <div>
            <a href="{% url 'trend_graph' %}">Trends</a>
        </div>
        <div>
            <a href="{% url 'multiple_trend_graph' %}" style="margin-left: 2px;" >Compare</a>
        </div>
        <div>
            <a href="{% url 'predict_stock' %}"  style="margin-right: 400px;" >Predict</a>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer class="footer">
        &copy; 2023 Abhishek Yadav
    </footer>
</body>
</html>
